#footerwrap
    .container
        .row.centered
            .col-lg-4
                p Current version: v0.1
            .col-lg-4
                ul.list-inline
                    li
                        a.fa.fa-facebook.fa-2x(href='#')
                    li
                        a.fa.fa-twitter.fa-2x(href='#')
                    li
                        a.fa.fa-google-plus.fa-2x(href='#')
            .col-lg-4
                p
                    | Developed by&nbsp;
                    a(href='http://jeremyguan.com') Jeremy Guan
