doctype html
html.no-js(ng-app='app')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='csrf-token', content=_csrf)
        meta(name='author', content='Jeremy Guan')
        title(ng-bind='title')
        //!= css('styles')
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:400,300,700")
        script(src='/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
    body
        include currentUser
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        #wrap
            include navigation
            .container
                include flash
                block content
        include footer
        include scripts
