#headerwrap
  .container
    .row.centered
      .col-lg-12
        h1
          | Welcome To&nbsp;
          b Tally Book
        h3 Concise, simple and fast personal accounting web app. Totally free.
    .row.centered
      .col-lg-4
        i.fa.fa-list-ol.fa-5x.feature
        h3 Easy to Use
        p Organize your money simply and intuitively
      .col-lg-4
        i.fa.fa-mobile.fa-5x.feature
        h3 Anywhere, Anytime
        p Access with any devices anywhere, anytime
      .col-lg-4
        i.fa.fa-cloud.fa-5x.feature
        h3 Safe and Sound
        p Your data is always securely backed up in our cloud
#mainwrap
    .container
        .row.centered
            .col-lg-12
                h1 Powered by
            .col-lg-3
                a(href="http://www.mongodb.org/")
                    img(src="/img/mongodb.png")
            .col-lg-3.padding-top-20
                a(href="http://expressjs.com/")
                    img(src="/img/express.png")
            .col-lg-3
                a(href="https://angularjs.org/")
                    img(src="/img/angularjs.png")
            .col-lg-3
                a(href="http://nodejs.org/")
                    img(src="/img/nodejs.png")

